/* Define CSS variables in :root */
:root {
    --quoteBg-color: rgba(217, 217, 217, 0.43);
    --widgetBg-color: rgba(238, 238, 238, 1);
    --font-family-base: 'Catamaran';
    --secondary-color: rgba(255, 58, 68, 1);
    --third-color: hotpink
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('/lib/font/Barlow-Bold.ttf');
}

@font-face {
    font-family: 'Barlow-Medium';
    src: url('/lib/font/Barlow-Medium.ttf');
}

@font-face {
    font-family: 'Catamaran';
    src: url('/lib/font/Catamaran.ttf');
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.quoteForm {
    background-color: var(--quoteBg-color);
    border-radius: 10px;
    font-family: var(--font-family-base);
}

.form-label {
    font-weight: 600;
    font-size: 16px !important;
}

.form-control {
    border-color: var(--quoteBg-color);
}

.widgetOne {
    width: 438px;
    height: 335px;
    background-color: var(--widgetBg-color);
    border-radius: 10px;
}

.widgetTwo {
    width: 438px;
    height: 660px;
    background-color: var(--widgetBg-color);
    border-radius: 10px;
}

.mainTitle {
    font-family: Barlow-Bold;
    font-size: 60px;
}

.tagline {
    font-family: Barlow-Medium;
    font-size: 25px;
}

.headingText {
    font-family: var(--font-family-base);
    font-size: 50px;
}

.submitButton {
    width: 271px;
    height: 41px;
    background-color: #010101;
    border-color: #010101;
}

    .submitButton:hover {
        background-color: var(--third-color) !important;
        border-color: var(--third-color);
    }

.span {
    color: var(--secondary-color);
}

#boldCaterman {
    font-weight: bold;
    font-size: 30px;
}

.form-control:focus {
    border-color: var(--third-color); /* Change this to your desired color */
    box-shadow: var(--third-color); /* Optional: to add a shadow effect */
}
.login-row {
    font-family: Catamaran;
   

}
.loginCard {
    background: var(--quoteBg-color);
    max-width:500px;
    margin-left:30%;
    margin-top:10%;
    padding:30px 30px 0px 30px;
    border-radius:10px;
    
}
.loginCard h3{
    text-align:center;
}
/*Need stop address media query here
*/
.quoteSection {
    background-image: url("../img/bg.webp");
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0px;
    right: 0px;
    height:500px;
    margin-top:-18px
}
.quoteContainer{
    margin-top:40px;
}
.quoteColLeft h1 {
   
    color: white;
    font-family: var(--font-family-base);
    font-size: 60px;
    text-align: end;
    font-weight: 800;
    margin-top:100px;
}
.quoteColLeft p {
    font-family: var(--font-family-base);
    color: white;
    font-size: 25px;
    text-align:end;
}
.quoteCard {
    background: LightGray;
    height: 300px;
    border-radius:10px;
}
.formInfo label{
    font-size:16px;
}
.formInfo input{
    height:50px;
    
}
#formSub{
    padding-left:10px
}
