<div class="modal fade" id="quoteNote" tabindex="-1" aria-labelledby="quoteNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quoteNoteModalLabel">Add Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">
                    <label class="control-label p-1">Note</label>
                    <textarea class="form-control" aria-label="With textarea" id="note"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveButtonForNote">Save changes</button>
            </div>
        </div>
    </div>
</div>