<div class="card text-center">
    <div class="card-header">
        Confirmation
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Congratulations!
            </h5>
        <p class="card-text">
            Thank you for reaching out and for your interest in our Car Hire / Airport Transfers. 
            Your inquiry and the opportunity to provide you with a quote are greatly appreciated.
            if you have any urgent matters or further questions, please feel free to 
            contact Marcus at +34 772 67 75 08 or Yorkie at +34 622 42 86 67 or by clicking 
            the WhatsApp link on our website.
            <br />
            <a asp-controller="Quote" asp-action="Create"> Do you want to create another Quote?</a>
            </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>