@model Campoverde.QMS.Models.Quote
@{
    ViewData["Title"] = "Quote";
}
<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="mainTitle">Campoverde Car Hire</h1>
                <p class="tagline">Your Journey Starts Here</p>
                <p class="headingText">Get a Quote</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <form class="row" asp-controller="Quote" asp-action="Create" method="post" style="font-family:Catamaran">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col col-sm-8 mb-3 mb-sm-0">
                <div class="card  p-1 mb-3 bg-body-tertiary quoteForm">
                    <div class="card-body ">
                        <h5 class="card-title text-left mt-3 pb-3">Personal Information</h5>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">First Name</label>
                                <input type="text" class="form-control" asp-for=Customer.FirstName id="firstName" placeholder="ex: John Smith">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Last Name</label>
                                <input type="text" class="form-control" asp-for=Customer.LastName id="lastName" placeholder="ex: John Smith">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress" class="form-label">Email</label>
                                <input type="text" class="form-control" asp-for=Customer.Email id="email" placeholder="example@example.com">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress2" class="form-label ">Phone</label>
                                <input type="text" class="form-control" asp-for="Customer.Phone" id="phone" placeholder="+12 345 678">
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">Nationality</label>
                                <input type="text" class="form-control" id="inputCity" placeholder="British">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Age</label>
                                <select asp-for=Customer.Age id="age" class="form-control form-select">
                                    <option selected>Select Age</option>
                                    <option value="1">One year</option>
                                    <option value="2">Two Years</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Gender</label>
                                <select asp-for=Customer.Gender id="gender" class="form-control form-select">
                                    <option selected>Select Gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Other</option>
                                </select>
                            </div>

                            <div class="col-md-6" id="userAccount">
                                <label class="col-form-label ">Do you want user account?</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" asp-for="IsUserAccountNeeded" type="radio" value="yes" checked>
                                    <label class="form-check-label " for="inlineRadioUserAccountYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" asp-for="IsUserAccountNeeded" type="radio" value="no">
                                    <label class="form-check-label " for="inlineRadioUserAccountNo">No</label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <h5 class="card-title text-left  mt-3 pb-3">Quote Requirement</h5>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label ">Vehicle Model | Year | Class</label>
                                <select asp-for=VehicleId asp-items="ViewBag.VehicleId" id="vehicle" class="form-control form-select">
                                    <option selected>Select Vehicle...</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label ">Vehicle Size</label>
                                <select asp-for=VehicleSize id="vehicleSize" class="form-control form-select">
                                    <option selected>Select Vehicle...</option>
                                    <option value="0">Small</option>
                                    <option value="1">Lerge</option>
                                    <option value="2">Medium</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label ">Passengers / Guest Counts</label>
                                <select asp-for=PassengerCount id="passengerCount" class="form-control form-select">
                                    <option selected>Select Vehicle...</option>
                                    <option value="1">4 Persons</option>
                                    <option value="2">6 Persons</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label ">Vehicle Type</label>
                                <select asp-for=VehicleType id="vehicleType" class="form-control form-select">
                                    <option selected>Select Vehicle Type...</option>
                                    <option value="0">Manual</option>
                                    <option value="1">Automatic</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Expected Date & Time of Arrival (Start Date time)</label>
                                <input asp-for=StartDate class="form-control" id="startDate" asp-format="{0:dd-MM-yyyy : htt}" placeholder="16-April-2024 : 7am">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Expected Date & Time of Return (End Date time)</label>
                                <input asp-for=EndDate asp-format="{0:dd-MM-yyyy : htt}" class="form-control" id="endDate" placeholder="19-April-2024 : 7am">
                            </div>
                            <div class="col-md-12">
                                <label class="form-label ">Spanish Address</label>
                                <input asp-for=SpanishAddress type="text" class="form-control form-control-lg" id="spanishAddress" placeholder="Pilar de la Horadada Alicante">
                            </div>
                            <div class="col-md-12">
                                <label class="form-label ">Any notes or Special requests..</label>
                                <input asp-for=SpecialRequet type="text" class="form-control form-control-lg" id="specialRequest" placeholder="Pilar de la Horadada Alicante">
                            </div>
                            <input asp-for=QuotePrice type="number" id="quotePrice" hidden>
                            <div class="col-12 text-center">
                                <p>
                                    By clicking the <span class="span">Get My Estimate</span> button you agree to the terms and conditions set out below.
                                    This is part of the contract you will receive when you collect your car. 
                                </p>
                                <button type="submit" class="btn btn-primary submitButton">Get My Estimate >></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-sm-4">
                <div class="card p-1 mb-3 bg-body-tertiary widgetOne">
                    <div class="card-body widgetBody" style="font-family:Catamaran">
                        <h6>24 Hour Breakdown Recovery Number</h6>
                        <p id="boldCaterman">+34 900 101 369</p>
                        <h6>Hotline and WhatsApp</h6>
                        <p id="boldCaterman">+34 722 677 508</p>
                        <h6>Useful Links</h6>
                        <p>Home || Privacy Policy || Terms of Service</p>
                        <h6>Social Media</h6>
                        <p>
                            <a href="https://www.facebook.com/campoverdecars">Facebook</a> ||
                            <a href="https://api.whatsapp.com/send/?phone=%2B34722677508&text&type=phone_number&app_absent=0"> Whats App</a>
                        </p>

                    </div>
                </div>
                <div class="card p-1 mb-3 bg-body-tertiary widgetTwo">
                    <div class="card-body" style="font-family:Catamaran">
                        <p class="card-text lh-lg">
                            <b>Quote Summary</b>
                            <br />Quote  receiver: <span id="receiver"></span>
                            <br />Phone: <span id="qPhone"></span>
                            <br>Email: <span id="qEmail"></span>
                            <br>Vehicle: <span id="qVehicle"></span>
                            <br>Transmission: <span id="qVehicleType"></span>
                            <br>From: <span id="qFromDate"> </span> To <span id="qToDate"></span>
                            <hr />
                        <p class="text-center" style="font-weight:700;font-size:20px;">Estimated Quote Price</p>
                        <p class="text-center" style="font-weight:800;font-size:64px;font-family:Catamaran">$ <span id="price"></span> </p>
                        <p class="text-center">
                            This is an approximate price based on your input,
                            <br />
                            it is subject to vary on different aspects
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");       
    }
    <script src="~/scripts/quoteservices/quotecreateservice.js"></script>
}

