<h5 class="font-catamaran-20">Personal Information</h5>

<div class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label font-catamaran-16">First Name</label>
        <input type="text" class="form-control form-control-lg" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label font-catamaran-16">Last Name</label>
        <input type="text" class="form-control form-control-lg" id="inputPassword4">
    </div>
    <div class="col-md-6">
        <label for="inputAddress" class="form-label font-catamaran-16">Email</label>
        <input type="text" class="form-control form-control-lg" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
        <label for="inputAddress2" class="form-label font-catamaran-16">Phone</label>
        <input type="text" class="form-control form-control-lg" id="inputAddress2" placeholder=".......">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label font-catamaran-16">Nationality</label>
        <input type="text" class="form-control form-control-lg" id="inputCity">
    </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label font-catamaran-16">Age</label>
        <select id="inputState" class="form-select form-control form-control-lg">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label font-catamaran-16">Gender</label>
        <select id="inputState" class="form-select form-control form-control-lg">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-6">

        <label class="col-form-label font-catamaran-16">Do you have insurance coverage?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label font-catamaran-16" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label font-catamaran-16" for="inlineRadio2">No</label>
        </div>

    </div>
    <div class="col-md-6">
        <label class="col-form-label font-catamaran-16">Do you want user account?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userAccount" id="userAccount">
            <label class="form-check-label font-catamaran-16" for="inlineRadioUserAccountYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userAccount" id="userAccount">
            <label class="form-check-label font-catamaran-16" for="inlineRadioUserAccountNo">No</label>
        </div>
    </div>
</div>