<h5 class="font-catamaran-20">Quote Requirement</h5>

<div class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label font-catamaran-16">Vehicle Model|Year|Class</label>
        <input type="email" class="form-control form-control-lg" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label font-catamaran-16">Vehicle Size</label>
        <input type="password" class="form-control form-control-lg" id="inputPassword4">
    </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label font-catamaran-16">Passengers / Guest Counts</label>
        <select id="inputState" class="form-select form-control form-control-lg">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label font-catamaran-16">Do you want drivers?</label>
        <select id="inputState" class="form-select form-control form-control-lg">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="inputAddress" class="form-label font-catamaran-16">Vehicle Type</label>
        <input type="text" class="form-control form-control-lg" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
        <label for="inputAddress2" class="form-label font-catamaran-16">Expected Date & Time of Arrival (Start Date time)</label>
        <input type="text" class="form-control form-control-lg" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label font-catamaran-16">Expected Date & Time of Return (End Date time)</label>
        <input type="text" class="form-control form-control-lg" id="inputCity">
    </div>
    <div class="col-md-12">
        <label for="inputCity" class="form-label font-catamaran-16">Spanish Address</label>
        <input type="text" class="form-control form-control-lg" id="inputCity">
    </div>
    <div class="col-md-12">
        <label for="inputCity" class="form-label font-catamaran-16">Any notes or Special requests..</label>
        <input type="text" class="form-control form-control-lg" id="inputCity">
    </div>
    <p class="font-catamaran-13 lh-lg">
        By clicking the
        <span class="text-danger">
            Get Estimate
        </span>
        button you agree to the terms and conditions set out below.  
        This is part of the contract you will receive when you collect your car. 
    </p>
    <div class="d-grid col-5 mx-auto ">
        <button type="button" class="btn btn-lg btn-dark font-catamaran-16 text-center text-white">Get My Estimate >></button>
    </div>
</div>