@{
    ViewData["Title"] = "Home Page";
}
<style>
    .font-catamaran-16 {
        font-family: catamaran;
        font-size: 16px;
        font-weight: 500
    }

    .font-catamaran-20 {
        font-family: catamaran;
        font-size: 20px;
        font-weight: 700
    }

    .font-catamaran-20-1 {
        font-family: catamaran;
        font-size: 20px;
        font-weight: 400
    }

    .font-catamaran-40 {
        font-family: catamaran;
        font-size: 40px;
        font-weight: 700
    }

    .font-catamaran-64 {
        font-family: catamaran;
        font-size: 64px;
        font-weight: 800
    }

    .font-catamaran-14 {
        font-family: catamaran;
        font-size: 14px;
        font-weight: 400
    }

    .font-catamaran-13 {
        font-family: catamaran;
        font-size: 13px;
        font-weight: 500
    }

    .bg-new-color {
        background-color: rgba(217,217,217,.43);
    }

    .bg-new-color-1 {
        background-color: rgba(217,217,217,1);
    }

    .bg-new-color-2 {
        background-color: rgba(238,238,238,1);
    }
</style>
<div class="text-center">
    <h1 style="font-family:Abel;font-weight:900">Campoverde Car Hire</h1>
    <p>Your Journey Starts Here</p>
    <p class="display-6" style="font-family:Abel;font-weight:800">Get a Quote</p>
</div>
<hr />
<hr />
<div class="row">
    <div class="col col-sm-8 mb-3 mb-sm-0">
        <div class="card shadow-lg p-1 mb-3 bg-body-tertiary rounded-4 bg-new-color">
            <div class="card-body ">
                <br />
                @await Html.PartialAsync("_PersonalInformation.cshtml")
                <br />
                @await Html.PartialAsync("_QuoteInformation.cshtml")
                <br />
            </div>
        </div>
    </div>
    <div class=" col-sm-4">
        <div class="card shadow-lg p-1 mb-3 bg-body-tertiary rounded-4 bg-new-color-1">
            <div class="card-body">
                <p class="card-text font-catamaran-20">24 Hour Breakdown Recovery Number</p>
                <p class="card-text font-catamaran-40">+34 900 101 369</p>
                <p class="card-text font-catamaran-20">Hotline and Whatsapp</p>
                <p class="card-text font-catamaran-40">+34 722 677 508</p>
                <p class="card-text font-catamaran-20-1">Useful Links</p>
                <p class="card-text font-catamaran-20-1">
                    <a href="">Terms of Service</a> ||
                    <a href="">Privacy Policy</a> ||
                    <a href="">Home Page</a>
                </p>
                <p class="card-text font-catamaran-20-1">Social Media</p>
                <p class="card-text font-catamaran-20-1">
                    <a href="">Facebook</a> ||
                    <a href="">Whats app</a>
                </p>
            </div>
        </div>
        <div class="card shadow-lg p-1 mb-1 bg-body-tertiary rounded-4 bg-new-color-2">
            <div class="card-body">
                <p class="card-text font-catamaran-20-1 lh-lg">
                    <b>Quote Summary</b>
                    <br />Quote  receiver:
                    <br />Phone:
                    <br>Email:
                    <br>Insurance:
                    <br>Vehicle:
                    <br>Transmission:
                    <br>From:
                    <hr />
                <p class="text-center font-catamaran-20">Estimated Quote Price</p>
                <p class="text-center font-catamaran-64">$ </p>
                <p class="text-center font-catamaran-14">
                    This is an approximate price based on your input,
                    <br />
                    it is subject to vary on different aspects
                </p>

            </div>
            <br />
        </div>
    </div>

</div>