@{
    ViewData["Title"] = "Home Page";
}
<style>
    .font-catamaran {
        font-family: catamaran;
        font-size: 16px;
        font-weight: 500
    }
</style>
<div class="text-center">
    <h1 style="font-family:Abel;font-weight:900">Campoverde Car Hire</h1>
    <p>Your Journey Starts Here</p>
    <p class="display-6" style="font-family:Abel;font-weight:800">Get a Quote</p>
</div>
<hr />
<hr />
<div class="row">
    <div class="col col-sm-8 mb-3 mb-sm-0">
        <div class="card shadow-lg p-1 mb-3 bg-body-tertiary rounded-4" style="background-color:rgba(217,217,217,.43);">
            <div class="card-body ">
                <h5 class="card-title text-center">Personal Information</h5>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label font-catamaran">First Name</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label font-catamaran">Last Name</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label font-catamaran">Email</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-md-6">
                        <label for="inputAddress2" class="form-label font-catamaran">Phone</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder=".......">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label font-catamaran">Nationality</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-3">
                        <label for="inputState" class="form-label font-catamaran">Age</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputState" class="form-label font-catamaran">Gender</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-6">

                        <label class="col-form-label font-catamaran">Do you have insurance coverage?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label font-catamaran" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label font-catamaran" for="inlineRadio2">No</label>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-catamaran">Do you want user account?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userAccount" id="userAccount">
                            <label class="form-check-label font-catamaran" for="inlineRadioUserAccountYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userAccount" id="userAccount">
                            <label class="form-check-label font-catamaran" for="inlineRadioUserAccountNo">No</label>
                        </div>
                    </div>
                </div>
                <h5 class="card-title text-center">Quote Requirement</h5>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label font-catamaran">Vehicle Model|Year|Class</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label font-catamaran">Vehicle Size</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-md-3">
                        <label for="inputState" class="form-label font-catamaran">Passengers / Guest Counts</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputState" class="form-label font-catamaran">Do you want drivers?</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label font-catamaran">Vehicle Type</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-md-6">
                        <label for="inputAddress2" class="form-label font-catamaran">Expected Date & Time of Arrival (Start Date time)</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label font-catamaran">Expected Date & Time of Return (End Date time)</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-12">
                        <label for="inputCity" class="form-label font-catamaran">Spanish Address</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-12">
                        <label for="inputCity" class="form-label font-catamaran">Any notes or Special requests..</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-sm-4">
        <div class="card shadow-lg p-1 mb-3 bg-body-tertiary rounded-4">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
        <div class="card shadow-lg p-1 mb-3 bg-body-tertiary rounded-4">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

</div>