@model Campoverde.QMS.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">LastName</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Home Address</label>
                <input asp-for="HomeAddress" class="form-control" />
                <span asp-validation-for="HomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Spanish Address</label>
                <input asp-for="SpanishAddress" class="form-control" />
                <span asp-validation-for="SpanishAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Driver Name</label>
                <input asp-for="DriverName" class="form-control" />
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Primary Driving Licence Number</label>
                <input asp-for="PrimaryDrivingLicenceNumber" class="form-control" />
                <span asp-validation-for="PrimaryDrivingLicenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Secondary Driving License Number</label>
                <input asp-for="SecondaryDrivingLicenseNumber" class="form-control" />
                <span asp-validation-for="SecondaryDrivingLicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">License Expiry Date</label>
                <input asp-for="LicenseExpiryDate" class="form-control" />
                <span asp-validation-for="LicenseExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Driver Passport Number</label>
                <input asp-for="DriverPassportNumber" class="form-control" />
                <span asp-validation-for="DriverPassportNumber" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayName("Deleted")
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayName("Active")
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
