@model Campoverde.QMS.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleSize" class="control-label"></label>
                <select asp-for=VehicleSize id="vehicleSize" class="form-control form-select">
                    <option selected>Select Vehicle...</option>
                    <option value="0">Small</option>
                    <option value="1">Lerge</option>
                    <option value="2">Medium</option>
                </select>
                <span asp-validation-for="VehicleSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleTypeEnum" class="control-label"></label>
                <select asp-for=VehicleTypeEnum id="vehicleType" class="form-control form-select">
                    <option selected>Select Vehicle Type...</option>
                    <option value="0">Manual</option>
                    <option value="1">Automatic</option>
                </select>
                <span asp-validation-for="VehicleTypeEnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" name="Image"/>
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
