@using Campoverde.QMS.ViewModel
@model LoginViewModel


<section>
    <div class="container">
        <div class="row login-row">
            <div class="col card  loginCard">
                <form asp-action="Index" method="post">
                    <h3>Campoverde QMS System </h3>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" placeholder="wick@ymail.com" class="form-control" />
                        <span asp-validation-for="Email"  class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" placeholder="# # # # # # #"  class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-dark w-100">Login</button>
                    
                    <p class="text-center mt-4"> Do not have any account ? <b>Sign Up Now >></b></p>
                </form>
            </div>
        </div>
    </div>
</section>


